@use "styles/helpers" as *;

.section_zoom {
    display: none;
    @include breakpoint($large) {
        max-width: 550px;
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 5;
    }
}
.btn_close_zoom {
    margin-bottom: 24px;
    background: none;
    border: none;
    margin-left: auto;
    svg {
        path {
            fill: var(--white);
            transition: fill 0.3s ease-in;
            &:hover {
                fill: var(--orange);
                cursor: pointer;
            }
        }
    }
}
