@font-face {
    font-family: "kumbh";
    src: url("/fonts/KumbhSans-Bold.ttf");
    font-weight: 700;
}

@font-face {
    font-family: "kumbh";
    src: url("/fonts/KumbhSans-Regular.ttf");
    font-weight: 400;
}
